[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
if G.GAME.dollars >= 5 and not G.GAME.modifiers.no_interest then
'''
position = "at"
payload = '''
local interest = Scholar.calc_interest()
if interest ~= 0 then
    add_round_eval_row({bonus = true, name='interest', pitch = pitch, dollars = interest})
    dollars = dollars + interest
end
if false then
'''
match_indent = true